<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OES_BAL.Properties.Settings.OES_DBConnectionString"
            connectionString="Data Source=MOHSIN-PC;Initial Catalog=OES_DB;User ID=sa;Password=Password123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>